html, body {
    height: 100%;
    margin: 0;
}

.wizard-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 90vh;
    padding: 20px;
    margin: 10px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.wizard-steps {
    margin-bottom: 15px;
}

.wizard-steps-container {
    display: flex;
    justify-content: space-between;
}

.wizard-step {
    flex: 1;
    text-align: center;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
    position: relative;
}

.wizard-step.active {
    background: #007bff; /* Modrá barva */
    color: white;
    border-color: #007bff;
}

.wizard-step.done {
    background: #28a745; /* Hezčí zelená */
    color: white;
    border-color: #28a745;
}

.wizard-content {
    flex: 1;
    padding: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #fafafa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
    box-sizing: border-box;
    overflow: hidden;
}

.wizard-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.wizard-buttons button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    flex: 1;
}

.wizard-buttons button:disabled {
    background: #ccc;
    color: #666;
    cursor: not-allowed;
    transition: none; /* Vypne přechody pro neaktivní tlačítko */
}

.wizard-buttons button:disabled:hover {
    background-color: #dc3545; /* Červená barva pro neaktivní tlačítko */
    transform: none; /* Žádná animace */
}

.wizard-buttons button:not(:disabled):hover {
    background-color: #0056b3; /* Tmavší modrá barva pro aktivní tlačítko */
    transform: scale(1.02);
}

.wizard-buttons button.next {
    background-color: #007bff; /* Modrá barva */
}

.wizard-buttons button.next:hover {
    background-color: #0056b3; /* Tmavší modrá barva při hoveru */
}

.wizard-buttons button.previous {
    background-color: #6c757d; /* Šedá barva pro neaktivní stav */
}

.wizard-buttons button.previous:not(:disabled) {
    background-color: #007bff; /* Modrá barva pro aktivní stav */
}

.wizard-buttons button.previous:disabled {
    background-color: #6c757d; /* Šedá barva pro neaktivní stav */
}

.wizard-buttons button.previous:not(:disabled):hover {
    background-color: #0056b3; /* Tmavší modrá barva při hoveru */
    transform: scale(1.02);
}
